.trigger {
    all: unset;
    display: flex;
    padding: 4px;
  }
  .trigger:hover {
    cursor: pointer;
  }
  .dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 16px 24px;
    border-top: 1px solid #dee5ec;
  }
  .dialog-title {
    margin: 0;
    font-size: 1rem;
    text-align: center !important;
    font-weight: 600;
  }
  .content {
    background-color: white;
    border-radius: 3px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    max-height: 85vh;
  }
  .field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 25px;
  }
  .icon-btn {
    display: flex;
    border-radius: 100%;
    border: none;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: lightgrey;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .icon-btn:hover {
    cursor: pointer;
    color: grey;
  }
  .fieldset {
    all: unset;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    width: 125px;
  }
  .cancel {
    color: #fff;
    background-color:red !important;
    border: 1px solid #dee5ec;
  }
  .cancel:hover {
    border-color: lightgray;
  }
  .action {
    background-color: green !important;
    color: #fff;
  }
  .action:hover {
    border-color: rgb(4, 71, 40);
  }
  .input {
    all: unset;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 200px;
    height: 32px;
    border-radius: 3px;
    padding: 0 12px;
    text-align: start;
    box-shadow: 0 0 0 1px #dee5ef;
    background-color: #fff;
  }
  .input:focus {
    box-shadow: 0 0 0 1px grey;
  }
  